/* ===== GENERAL STYLES ===== */
body {
    margin: 0;
    font-family: sans-serif;
    color: rgb(61, 61, 61);
}
html, body {
    height: 100%;
}
#app {
    height: 100%;
}

/* ===== TABS ===== */
.tab {
    font-family: 'Arial', sans-serif; /* Change to your desired font */
    font-size: 16px; /* Adjust the font size */
    color: #444; /* Adjust the font color */
    height: 50px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
/* Customize the font of the selected tab */
.tab--selected {
    font-weight: bold; /* Adjust the font weight */
}

/* ===== MENUS ===== */
.menu-panel {
    padding: 8px;
    font-size: 16px;
    background-color: rgb(241, 241, 247);
    border: white 8px solid;
}

/* ===== RESIZE HANDLES ===== */
.resize-handle-horizontal {
    width: 6px;
    height: 100%;
    background-color: lightgray;
    position: relative;
}
/* Line inside handle */
.resize-handle-horizontal::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 5%;
    background-color: rgb(120, 120, 120);
    transform: translate(-50%, -50%);
}
.resize-handle-vertical {
    width: 100%;
    height: 6px;
    background-color: lightgray;
    position: relative; 
}
/* Line inside handle */
.resize-handle-vertical::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5%;
    height: 2px;
    background-color: rgb(120, 120, 120);
    transform: translate(-50%, -50%);
}
.resize-handle-horizontal:hover,.resize-handle-vertical:hover {
    background-color: rgb(120, 120, 120);
}